.octicon.navbar {
  fill: #fff;
}
.nav-wrapper{
  padding-left: 10px;
  color: #85cdcd;
}
.brand-logo {
  padding-top: 5px !important;
}
.loader {
    margin: auto;
    margin-bottom: 20px;
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}
.hidden{
  display: none;
}
.message{
  width: 100px;
  padding: 5px;
  margin: auto;
  text-align: center;
  border-radius: 3px;
  background-color: #85cdcd;
}
.errorMessage{
  width: 100px;
  margin: auto;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  background-color: #ff0000;
}
.info{
  max-width: 70%;
  margin: auto;
}
.info span{
  color: #85cdcd;
}

@keyframes spin {
    0% { 
      border-top: 8px solid #fdfddf; /* Blue */
      transform: rotate(0deg); 
    }
    30% {
      border-top: 8px solid #3498db; /* Blue */
      transform: rotate(108deg);
    }
    100% { 
      border-top: 8px solid #ff0000; /* Blue */
      transform: rotate(360deg); 
    }
}

.card {
  height: 300px;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/card-bg.jpg");
}

.card-sub .material-icons {
  font-size: 18px;
}

.card-sub span {
  font-size: 18px;
  margin-right: 10px;
}

.card-content p {
  padding-top: 15px;
}

main {
  padding-top: 20px;
}

.card-template {
  display: none;
}