.octicon.navbar {
  fill: #fff;
}

.brand-logo {
  padding-top: 5px !important;
}

.card {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/card-bg.png");
}

.card-sub .material-icons {
  font-size: 18px;
}

.card-sub span {
  font-size: 18px;
  margin-right: 10px;
}

.card-content p {
  padding-top: 15px;
}

main {
  padding-top: 20px;
}

.card-template {
  display: none;
}